@import url("https://assets.alles.cx/fonts/inter/inter.css");
@import url("https://assets.alles.cx/styles/reset.css");

* {
  font-family: Inter;
}

:root {
  --primary: #23539b;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  background: #f0f0f0;
  height: 100%;
  padding: 100px 20px 0;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--primary);
}

main {
  margin: 0 auto;
  max-width: 450px;
}

h1 {
  text-align: center;
  font-size: 100px;
}

.searchForm {
  box-shadow: var(--shadow);
  background: #ffffff;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.searchForm input,
.searchForm button {
  border: none;
  background: none;
  padding: 10px;
}

.searchForm input {
  flex-grow: 1;
  padding: 10px 20px;
  min-width: 0;
}

.searchForm button {
  flex-shrink: 0;
  cursor: pointer;
  color: #444444;
}

.searchForm button:hover,
.searchForm button:focus {
  background: var(--primary);
  color: #ffffff;
}

.avatar {
  top: 0px;
  right: -70px;
  position: absolute;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: auto 10px auto;
  box-shadow: var(--shadow);
  display: none;
  opacity: 0;
  transition-duration: 0.2s;
}

@media screen and (max-width: 650px) {
  .avatar {
    display: none !important;
  }
}

.bottom {
  margin-top: 20px;
}

.loading {
  width: 30px;
  height: 30px;
  background: var(--primary);
  margin: 30px auto;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.result {
  box-shadow: var(--shadow);
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  display: block;
  color: inherit;
  overflow: hidden;
}

.result.animate {
  animation: resultAppear 0.2s forwards ease-out;
}

.result .title {
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
}

.result .url {
  color: #006621;
  font-size: 10px;
  white-space: nowrap;
}

.result .domain {
  font-weight: 600;
}

.result .description {
  color: #444444;
  margin-top: 5px;
  font-size: 15px;
}

@keyframes resultAppear {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.homepageLinks {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .homepageLinks a:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .homepageLinks a:nth-child(3) {
    display: none;
  }
}
