@import url("https://assets.alles.cx/fonts/inter/inter.css");
@import url("https://assets.alles.cx/styles/reset.css");

* {
  font-family: Inter;
}

:root {
  --primary: #23539b;
}

body {
  margin: 0;
  background: #f0f0f0;
  height: 100%;
  padding: 100px 20px 0;
}

main {
  margin: 0 auto;
  max-width: 450px;
}

h1 {
  text-align: center;
  font-size: 100px;
}

.searchForm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.searchForm input,
.searchForm button {
  border: none;
  background: none;
  padding: 10px;
}

.searchForm input {
  flex-grow: 1;
  padding: 10px 20px;
}

.searchForm button {
  flex-shrink: 0;
  cursor: pointer;
  color: #444444;
}

.searchForm button:hover,
.searchForm button:focus {
  background: var(--primary);
  color: #ffffff;
}

.bottom {
  margin-top: 20px;
}

.loading {
  width: 30px;
  height: 30px;
  background: var(--primary);
  margin: 30px auto;
  animation: loading 10s infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
    border-radius: 0;
  }

  to {
    transform: rotate(3600deg);
    border-radius: 50%;
  }
}

.result {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: inherit;
}

.result.animate {
  animation: resultAppear 0.2s forwards ease-out;
}

.result .title {
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
}

.result .url {
  color: #006621;
  font-size: 10px;
}

.result .domain {
  font-weight: 600;
}

.result .description {
  color: #444444;
  margin-top: 5px;
  font-size: 15px;
}

@keyframes resultAppear {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
